
*.exe
*.exe~
*.dll
*.so
*.dylib

*.log

bin/
build/
dist/

*.test
*.out

*.tmp
*.temp
*.swp
*.swo
*.bak

.DS_Store
Thumbs.db

vendor/
node_modules/

.idea/
.vscode/

gorm.db

.env
.env.local
.env.*.local
*.pem

go.sum
go.work
go.work.sum
*.db